@{
    ViewBag.Title = "Bank";
}

<div>
    <h3>Accounts</h3>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td><p>ID</p></td>
                <td><p>Имя</p></td>
                <td><p>Фамилия</p></td>
                <td><p>Почта</p></td>
                <td></td>
            </tr>

        </table>
        foreach (var p in ViewBag.Persons)
        {
            <tr>
                <td><p>@p.Id</p></td>
                <td><p>@p.Name</p></td>
                <td><p>@p.SurName</p></td>
                <td><p>@p.Mail</p></td>                
            </tr>
        }
    }
</div>

@if (TempData["Alert"] != null && TempData["Alert"].Equals("Error"))
{
    <h4 class="errorOutput">@TempData["AllertMessage"]</h4>
}